
body{
    font-family: Montserrat;
    color: white;
}

.loader{
    display : flex;
    flex-wrap: nowrap;
    justify-content : center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.modal-styles{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
    word-wrap: break-word;
    padding: 50px;
    min-width: 200px;
    min-height: 150px;
    background-color: white;
    border-radius: 15px;
}

.modal-content{
    text-align: center;
    max-width: 400px;
    max-height: 400px;
}

.modal-content p{
    font-weight: bold;
    font-size:medium;
    color: slateblue;
}

.modal-content img{
    object-fit: scale-down;
    width: 100%;
    margin: 2rem auto;
}


.overlay-styles{
    position: fixed;
    left: 0;
    right: 0;
    bottom : 0;
    top : 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.closeButton{
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: white;
    border: none;
}

.closeButton:hover{
    cursor:pointer;
}

.forecast-card{
    display :inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-size: 20px;
}

.forecast-card .card-heading{
    font-weight: bold;
}

.forecast-card img{
    transform: scale(1.2);
}

hr{
    height: 2px;
    width: 80%;
}

.forecast-main{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin : 50px 5vw;
}

.forecast-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap: 20px;
}

@media (max-width:600px) {
    .forecast-container{
        grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
    }
}

.form input{
    width: 50vw;
    height: 50px;
    min-width: 200px;
    font-family: inherit;
    font-size: 1rem;
    padding-left: 10px;
}

.form input::placeholder{
    color: white;
}

.form button{
    height: 50px;
    width: 75px;
    min-width: 40px;
}

.blur-background{
    background: rgba(255, 255, 255, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.background{
    background-size: cover;
    background-repeat: no-repeat;
}

.current-weather{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 0.75fr;
    grid-template-rows: 1.5fr 0.5fr;
    gap: 10px;
    margin: 0 auto;
    padding: 0 15px;
  }

.weather-card-container{
    margin: 0 5vw;
}

.current-weather > *{
    justify-self: center;
    align-self: center;
    margin: 0;
    padding : 0;
}

.cur-weather-img{
    transform: scale(2);
}

.cur-city-temp{
    font-size: 6em;
  }
  
  .cityName{
    font-size: 2em;
  }
  
  .header{
    display: flex;
    margin: 25px 5vw 50px 5vw;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
  }

  .header > h1{
    margin: 5px 0;
    padding: 0;
  }

  .current-weather:hover,.forecast-card:hover,.form button:hover,.highlight:hover{
    transform: scale(1.1);
    transition: 1000ms;
  }

  .footer{
    margin: 75px 5vw;
    margin-bottom: 25px;
    text-align: center;
  }

  .icons > *{
    padding: 0 10px;
  }

  .highlights-main h3{
    margin: 50px 5vw;
  }

  .highlights-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    width: 90%;
    margin: 0 auto;
    gap: 20px;
  }

  .highlight{
    text-align: center;
    font-size: medium;
  }

  
  .forecast-main h3{
    margin-bottom: 50px;
  }